<launch>
    <arg name="sim" default="false" />

    <include file="$(find proper_workcell)/launch/proper_workcell.launch">
      <arg name="gui" value="false" />
      <arg name="sim" value="$(arg sim)" />
    </include>

    <node name="velocity" pkg="mashes_measures" type="nd_velocity.py" />

    <node name="robviz" pkg="proper_robviz" type="robviz.py"/>
</launch>
