<launch>
    <arg name="sim" default="false" />

    <rosparam command="load" file="$(find proper_robviz)/config/params.yaml" />

    <include file="$(find proper_workcell)/launch/workcell.launch">
      <arg name="gui" value="false" />
      <arg name="sim" value="$(arg sim)" />
    </include>

    <node name="cloud" pkg="proper_cloud" type="nd_cloud" respawn="true" />
    <node name="height" pkg="proper_cloud" type="nd_height" respawn="true" />

    <include file="$(find mashes_measures)/launch/measures.launch">
      <arg name="gui" value="false" />
    </include>

    <node name="robviz" pkg="proper_robviz" type="robviz.py"/>
</launch>
