<launch>
    <arg name="gui" default="True" />

    <arg name="model" value="$(find proper_workcell)/urdf/proper_workcell.xacro" />
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    </node>

    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find proper_workcell)/config/workcell.rviz" required="true" if="$(arg gui)" /> -->
</launch>
