<launch>
  <param name="/use_sim_time" value="true"/>

  <arg name="filename" default="test.bag" />
  <node name="player" pkg="rosbag" type="play" output="screen" args="$(arg filename) --clock" />

  <arg name="model" value="$(find etna_workcell)/urdf/mashes_workcell.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find proper_workcell)/config/workcell.rviz" required="true" />
</launch>
