<?xml version="1.0" ?>
<robot name="wt03_head" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="head0">
    <visual>
      <geometry>
        <mesh filename="package://proper_workcell/meshes/head/visual/head_wt03.stl" />
      </geometry>
      <material name="dark_gray">
        <color rgba="0.3 0.4 0.3 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://proper_workcell/meshes/head/collision/head_wt03.stl" />
      </geometry>
      <material name="yellow">
        <color rgba="0 1 1 1" />
      </material>
    </collision>
  </link>
</robot>
