<?xml version="1.0" ?>
<robot name="aimen_workcell" xmlns:xacro="http://ros.org/wiki/xacro">
  <property name="pi" value="3.141592654" />

  <xacro:property name="tcp_frame">
    <origin xyz="0.2462 -0.0203 0.4320" rpy="${pi} -1.047197555 ${pi}" />
  </xacro:property>

  <xacro:property name="workobject_frame">
    <origin xyz="1.550 -0.185 0.930" rpy="0 0 0" />
  </xacro:property>

  <xacro:property name="camera_frame">
    <origin xyz="0.0715 0.2219 0.3248" rpy="-1.148206 0.311297 -2.151468" />
  </xacro:property>

  <!-- Robot cell -->
  <xacro:include filename="$(find aimen_workcell)/urdf/workcell.xacro"/>

  <joint name="workcell" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.067" rpy="0 0 0" />
  </joint>

  <!-- Head -->
  <xacro:include filename="$(find proper_workcell)/urdf/head.xacro"/>

  <joint name="head0" type="fixed">
    <parent link="tool0"/>
    <child link="head0"/>
    <origin xyz="0 0 0" rpy="0 0 ${pi/2}" />
    <axis xyz="0 0 1"/>
  </joint>

  <!-- TCP -->
  <link name="tcp0"/>
  <joint name="tcp0" type="fixed">
    <parent link="tool0"/>
    <child link="tcp0"/>
    <xacro:insert_block name="tcp_frame" />
    <axis xyz="0 0 1"/>
  </joint>

  <!-- Workobject -->
  <link name="workobject" />

  <joint name="workobject" type="fixed">
    <parent link="base_link" />
    <child link="workobject" />
    <xacro:insert_block name="workobject_frame" />
  </joint>

  <!-- Camera -->
  <link name="camera0" />

  <joint name="camera0" type="fixed">
    <parent link="tool0"/>
    <child link="camera0"/>
    <xacro:insert_block name="camera_frame" />
  </joint>
</robot>
