<launch>
  <arg name="robot_ip" default="172.20.0.100" />
  <arg name="J23_coupled" default="true" />

  <node name="robot_logger" pkg="proper_abb" type="nd_robot_logger.py">
    <param name="robot_ip" type="str" value="$(arg robot_ip)" />
    <param name="J23_coupled" type="bool" value="$(arg J23_coupled)" />
  </node>
</launch>
